<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/image/logo.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home" data-toggle="tooltip" data-placement="top" title="Home"><p>| Home |</p>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  href="#" data-toggle="tooltip" data-placement="top"
           title="Employee"><p>| Employee |</p>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/customer/list" href="#" data-toggle="tooltip" data-placement="top"
           title="Customer"><p>| Customer |</p>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/service_resort/listServiceResort" data-toggle="tooltip"
           data-placement="top" title="Service"><p>| Service |</p>
          <span
            class="sr-only">(current)
                        </span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contract/listContract" data-toggle="tooltip" data-placement="top"
           title="Contract"><p>| Contract |</p>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <!--      <li class="nav-item active">-->
      <!--        <a class="nav-link" href="/attach/listAttach" data-toggle="tooltip" data-placement="top"-->
      <!--           title="Contract">| Attach Service |-->
      <!--          <span class="sr-only">(current)</span>-->
      <!--        </a>-->
      <!--      </li>-->
      <!--      <li class="nav-item active">-->
      <!--        <a class="nav-link" href="/booking" data-toggle="tooltip" data-placement="top"-->
      <!--           title="Contract">| Booking |-->
      <!--          <span class="sr-only">(current)</span>-->
      <!--        </a>-->
      <!--      </li>-->
    </ul>
  </div>
</nav>
