<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="/assets/angular.png">
</div>
<a routerLink="/front-size">front-size</a>||
<a routerLink="/pet">pet</a>||
<a routerLink="/calculator">calculator</a>||
<a routerLink="/color-picker">color-picker</a>||
<a routerLink="/hacker-new-v01">Hack news v01</a>||
<a routerLink="/name-card">Name Card</a>||
<a routerLink="/progress-bar">Progress Bar</a>||
<a routerLink="/todo">Todo</a>||
<a routerLink="/register-final">Register Final</a>||
<a routerLink="/login">Login</a>
<router-outlet></router-outlet>
<app-name-card *ngIf="isCardNameRoute()" cardName="Professional Dev" email="prodev@abc.xyz" phone="0123456789"></app-name-card>
<app-progress-bar *ngIf="isProgressBar()" width="65"></app-progress-bar>

