<div>
  <label>Input scores</label>
  <input type="number" class="form-control col-lg-3" placeholder="Input scores" (change)="updateScores($event.target.value)">
</div>
<div>
  <label>Input Avatar</label>
  <input class="form-control col-lg-3" placeholder="Input url avatar" (change)="updateAvatar($event.target.value)">
  <input class="form-control col-lg-3" min="50" max="200" type="range" (change)="updateSize($event.target.value)" [value]="student.avatarSize">
</div>
<div style="text-align: center">
  <table class="table table-hover table-bordered">
    <thead>
    <tr class="table-active">
      <th>Id Student</th>
      <th>Name Student</th>
      <th>Phone Student</th>
      <th>Address Student</th>
      <th>Birthday Student</th>
      <th>Scores Student</th>
      <th>Avatar Student</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>{{student.id}}</th>
      <th>{{student.name}}</th>
      <th>{{student.phone}}</th>
      <th>{{student.birthday}}</th>
      <th>{{student.address}}</th>
      <th>{{student.scores}}</th>
      <th>
        <img [src]="[student.avatar]" style="max-width: 200px" [style.width.px]="student.avatarSize">
      </th>

    </tr>
    </tbody>
  </table>
</div>

